<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <div>
        <form action="/sentences" method="post">
            <!--	action determins which route will be triggered-->
            <input type="text" name="sentences" placeholder="sentences">
            <!--	assigning the name we can then get the value from req.body using body parser-->
            <button type="submit">Add Sentence</button>
        </form>
        <ul>
            <%if (done){%>
                <%for (x in done){%>
                    <li>
                        <%=done[x].sentences%>
                            <a href="/sentences/<%=done[x]._id%>/update">Update Sentence</a>
                            <a href="/sentences/<%=done[x]._id%>/translate">Add Translation</a>
                            <form action="/sentences/<%=done[x]._id%>/delete" method="post">
                                <input type="submit" value="Delete Sentence"></form><br>
                            <%for (y in done[x].translation){%>
                                <%if (done[x].translation[y].language){%>
                                    <%=done[x].translation[y].language%>
                                        <%=done[x].translation[y].translations%>
                                            <a href="/sentences/<%=done[x]._id%>/update/<%=done[x].translation[y].language%>">Update Translation</a>
                                            <form action="/sentences/<%=done[x]._id%>/delete/<%=done[x].translation[y].language%>" method="post">
                                                <input type="submit" value="Delete Translation"></form>
                                            <%}%>
                                                <%}%>
                                                    <%}%>
                                                        <%}%>
        </ul>

    </div>

</body>

</html>
